<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>write</title>
</head>
<body>
<button onclick="saveReq()">글작성</button>
<button onclick="listReq()">글목록</button>
</body>
<script>

    // function saveReq(){
    //
    // } 아래 코드랑 형식이 같다
    //아래 코드는 <a href="/board/save>작성</a>와 같다
    const saveReq = () => {
        location.href = "/board/save"
    }
    const listReq = () => {
        location.href = "/board/list"
    }
</script>
</html>
